
<div class="row">
	<div class="container text-center">
		<b> click to add new sever: </b>
		<button (click)="onServerCreation()" class="btn btn-primary" [disabled]="!allowNewServer">add server</button>
		
		<p >
			<!-- <input type="text" class="form-controle" (input)="onUpdateServerName($event)">
			<br> -->
			<input type="text" class="form-controle" [(ngModel)]="serverName">
			<!-- [innerText]="allowNewServer" -->
			Is button enabled ? = {{ allowNewServer }}
		</p>
		<!-- <p [innerText]="serverName"></p> -->

			<!-- <p [innerText]="serverCreationStatus"></p> -->
			<p *ngIf="serverCreationStatus">server was created, server name is {{ serverName }}</p>
			<!-- <ng-template #noSever>
				<p>
					no server was created
				</p>
			</ng-template> -->
	</div>
</div>

<div class="row text-left">

	<ul>
		<li *ngFor="let server of servers"><app-server></app-server></li>
	</ul>
		

		
</div>
